@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-slate-100 h-screen;
  }

  @layer components {
    .input {
      @apply text-gray-900 outline-none p-2 placeholder:text-gray-500 overflow-hidden;
    }
    .button {
    }
  }
}

input:not([type="radio"]):not([type="checkbox"]) {
  -webkit-appearance: none;
  border-radius: 0;
}
